In [3]:
import pandas as pd

pip install pandas

In [5]:
bison=pd.read_csv("/Users/ortegap1/Desktop/SCI Data/DS 109 Python/BisonTracking.csv")

In [10]:
bison.head(7)

  Collection/Population Locality SpecimenNumber  Genus   Species  Length
0                  12 Mile Creek         112916  Bison  antiquus       8
1                  12 Mile Creek         112917  Bison  antiquus       7
2                  12 Mile Creek         112918  Bison  antiquus       7
3                  12 Mile Creek         112919  Bison  antiquus       8
4                  12 Mile Creek         112921  Bison  antiquus       9
5                  12 Mile Creek         112925  Bison  antiquus       9
6        Agate Basin-Agate Basin            458  Bison  antiquus       7

In [9]:
bison.tail(10)

,Collection/Population Locality,SpecimenNumber,Genus,Species,Length
1097,Simonsen,"SEC. 8, 30"", E2, #bb",Bison,antiquus,8
1098,Simonsen,SW15 #3,Bison,antiquus,8
1099,Simonsen,SW15 #3,Bison,antiquus,7
1100,Simonsen,SW37 #9,Bison,antiquus,9
1101,Simonsen,SW37 #9,Bison,antiquus,8
1102,Terapa,TERA 403,Bison,antiquus,7
1103,Terapa,TERA 404,Bison,antiquus,8
1104,Terapa,TERA 426,Bison,antiquus,9
1105,WICA,422F7A5179,Bison,bison,7
1106,WICA,AVID*074*597*636,Bison,bison,7

## Read in your data as a CSV file

Look at the first seven rows of your data <br>
Look at the last ten rows of your data <br>
Determine the number of rows and columns your dataset has <br>
And answer the following questions: <br>

How many bison are of the species antiquus?<br>
What is the mean and standard deviation of Length?<br>
What is the median length of the bison?<br>

In [11]:
len(bison)

1107

In [12]:
len(bison.columns)

5

In [13]:
bison.columns

Index(['Collection/Population Locality', 'SpecimenNumber', 'Genus', 'Species',
       'Length'],
      dtype='object')

In [15]:
bison.Species.value_counts()

antiquus        633
bison           435
occidentalis     39
Name: Species, dtype: int64

In [16]:
bison.describe() #this returns only the numeric values in the dataset

            Length
count  1107.000000
mean      7.981030
std       0.808299
min       7.000000
25%       7.000000
50%       8.000000
75%       9.000000
max       9.000000

In [17]:
bison.Length.describe()

count    1107.000000
mean        7.981030
std         0.808299
min         7.000000
25%         7.000000
50%         8.000000
75%         9.000000
max         9.000000
Name: Length, dtype: float64

In [18]:
bison.describe(include='all') #this returns all values in the dataset

,Collection/Population Locality,SpecimenNumber,Genus,Species,Length
count,1107,1107,1107,1107,1107.000000
unique,60,998,1,3,NaN
top,Glenrock,10-6-32-SP,Bison,antiquus,NaN
freq,229,17,1107,633,NaN
mean,NaN,NaN,NaN,NaN,7.981030
std,NaN,NaN,NaN,NaN,0.808299
min,NaN,NaN,NaN,NaN,7.000000
25%,NaN,NaN,NaN,NaN,7.000000
50%,NaN,NaN,NaN,NaN,8.000000
75%,NaN,NaN,NaN,NaN,9.000000
max,NaN,NaN,NaN,NaN,9.000000

In [19]:
bison.Length.mean()

7.981029810298103